#editor {
    width: 100%;
    min-height: 500px;
    position: fixed;
    left: 50px;
    top: 71px; /* 71 px with toolbar */
    right: 0;
    bottom: 0;
    z-index: 150;
}

/* toolbar */

div.editor-toolbar-wrapper {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #222;
    background-color: #696969;
    z-index: 160;
}

ul.editor-toolbar {
    height: 30px;
    line-height: 30px;
    color: #E2E2E2;
    list-style-type: none;
}

ul.editor-toolbar:first-child {
    margin-left: 50px; /* the line bar is actually 48px */
}

ul.editor-toolbar:last-child {
    margin-right: 15px;
}

ul.editor-toolbar li {
    float: left;
    padding: 0 10px;
    display: inline-block;
    width: 15px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

ul.editor-toolbar li.right {
    float: right;
    text-align: right;
    direction: rtl;
}

ul.editor-toolbar li.disabled {
    color: #aaa;
    /* cursor: not-allowed; */
    cursor: default;
}

/* toolbar popups */

div.editor-popup-box {
    position: absolute;
    overflow: hidden;
    background-color: #555;
    color: #e2e2e2;
    width: 300px;
    height: 0px;
    z-index: 300;
}

/* color picker */

div.editor-color-cell {
    height: 30px;
    color: #fff;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
}

/* link helper */

div.editor-link-type {
    width: 75px;
    display: inline-block;
    float: left; /* so that spaces don't matter */
    background-color: #333;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #e2e2e2;
}

div.editor-link-type:hover {
    background-color: #222;
}

div.editor-link-type.active {
    background-color: #555;
}

div.editor-link-wrapper {
    margin: 10px;
    height: 130px;
}

div.editor-link-wrapper input {
    width: 100%;
    padding: 3px;
    border: 1px solid #222;
    margin-bottom: 10px;
}
    
