#editor {
    width: 100%;
    min-height: 500px;
    position: fixed;
    left: 170px;
    top: 40px; /* 81 px with toolbar */
    right: 0;
    bottom: 0;
}

div.editor-toolbar {
    height: 40px;
    width: 100%;
    background-color: #ebebeb;
    border-bottom: 1px solid #9f9f9f;
}

div.editor-toolbar.dark {
    background-color: #3b3b3b;
    border-bottom: 1px solid #333;
}