body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

a {
    color: rgb(70, 105, 140);
    text-decoration: none;
}

body, ul, li {
    padding: 0;
    margin: 0;
}

i.fa {
    text-align: left;
    width: 1.35em;
}

i.fa.center {
    text-align: center !important;
    vertical-align: middle;
}

i.fa.right {
    text-align: right !important;
}

/* MODAL WINDOWS */

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    padding-top: 100px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-window {
    position: relative;
    background-color: #fefefe;
    width: 700px;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
}

.modal-content {
    padding: 2px 16px;
}

.modal-done-button {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-done-button:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #555;
    color: #fff;
}
