#navigation-sidebar {
    float: left;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 170px;
    background-color: #333;
    color: #fff;
}

#navigation {
    list-style-type: none;
    margin-top: 60px;
    z-index: 100;
}

#navigation li a {
    display: inline-block;
    height: 30px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding-left: 16px;
    line-height: 30px;
}

#navigation li {
    margin-top: 8px;
}

#navigation li.active {
    background-color: #2096ce;
}

#navigation li:hover {
    background-color: #444;
}

#top-bar {
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #555;
    z-index: 200;
}

#top-bar span.wiki-title,
#top-bar span.page-title,
#top-bar span.account-title,
#top-bar span.create-title {
    display: inline-block;
    height: 40px;
    font-size: 18px;
    color: #fff;
    line-height: 40px;
}

#top-bar span.wiki-title {
    width: 152px; /* sidebar width minus left padding */
    font-weight: 600;
    padding-left: 16px;
}

#top-bar span.page-title {
    font-weight: 300;
    font-size: 120%;
    padding-left: 16px;
}

#top-bar span.account-title {
    font-size: 90%;
    font-weight: 400;
    float: right;
    padding-right: 16px;
}

#top-bar span.create-title {
    font-size: 90%;
    font-weight: 400;
    float: right;
    padding-right: 24px;
}

#top-bar span.create-title a {
    height: 100%;
    text-decoration: none;
    color: inherit;
}

#content {
    margin-top: 40px;
    margin-left: 170px;
    padding: 20px;
}

i.fa {
    text-align: left;
    width: 1.35em;
}