#navigation-sidebar {
    float: left;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 160px;
    background-color: #222;
}

#content {
    margin-left: 160px;
    padding: 20px;
}