#navigation-sidebar {
    float: left;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 170px;
    background-color: #333;
    color: #fff;
    overflow: hidden;
}

#navigation {
    list-style-type: none;
    margin-top: 60px;
    z-index: 100;
    overflow: hidden;
}

#navigation li {
    padding-left: 16px;
    height: 38px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}

#navigation li a {
    overflow: hidden;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    height: 38px;
    line-height: 38px;
    width: 100%;
}

#navigation li:hover {
    background-color: #444;
}

#navigation li.active {
    background-color: #2096ce;
}

#top-bar {
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #555;
    z-index: 200;
}

#top-bar span.top-title {
    display: inline-block;
    height: 40px;
    font-size: 18px;
    color: #fff;
    line-height: 40px;
}

#top-bar span.wiki-title {
    width: 152px; /* sidebar width minus left padding */
    font-weight: 600;
    padding-left: 16px;
}

#top-bar span.page-title {
    font-weight: 300;
    font-size: 120%;
    padding-left: 16px;
}

#top-bar span.account-title {
    font-size: 90%;
    font-weight: 400;
    float: right;
    padding-right: 16px;
}

#top-bar span.create-title {
    font-size: 90%;
    font-weight: 400;
    float: right;
}

#top-bar span.top-title a {
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 0 10px;
}

#top-bar span.top-title a:hover {
    background-color: #666;
}

#content {
    margin-top: 40px;
    margin-left: 170px;
    padding: 20px;
}

#content.no-margin {
    padding: 0 !important;
}