#notification-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid #222;
    background-color: #666;
    width: 300px;
    min-height: 100px;
    color: #fff;
}

#notification-popup h3 {
    margin: 0;
    padding: 10px 20px;
    background-color: #333;
    border-bottom: 1px solid #222;
}
