#notification-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid #222;
    background-color: #666;
    width: 340px;
    min-height: 140px;
    color: #fff;
    overflow: hidden;
}

#notification-popup h3 {
    margin: 0;
    padding: 5px 10px;
    background-color: #333;
    border-bottom: 1px solid #222;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#notification-popup i.fa {
    float: left;
    width: 80px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
}

#notification-popup i.span {
    display: inline-block;
    padding: 10px;
}
