table.page-list {
    /*table-layout: fixed;*/
    border-collapse: collapse;
    width: 100%;
}

/* all cells */

table.page-list td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
}

table.page-list td.checkbox,
table.page-list th.checkbox {
    width: 20px;
    text-align: center;
}

table.page-list td.info,
table.page-list th.info {
    text-align: right;
    max-width: 200px;
}

table.page-list td.info {
    font-size: 85%;
}

table.page-list th.title,
table.page-list td.title {
    width: 99%;
    white-space: normal;
}

/* head cells */

table.page-list thead {
}

table.page-list thead th {
    background-color: #696969;
    color: #E2E2E2;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    padding: 8px;
    border: 1px solid #696969;
    text-align: left;
}

table.page-list thead th a {
    color: #E2E2E2;
}

/* body cells */

table.page-list tbody tr {
    background-color: #fff;
}

table.page-list tbody tr:nth-child(even) {
    background-color: #eee;
}

table.page-list span.pageinfo {
    font-size: small;
    text-transform: uppercase;
    font-weight: bold;
    color: #555;
    margin: 0 8px;
}

/* toolbar */

ul.page-list-toolbar li {
    float: left;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
}

ul.page-list-toolbar li.right {
    float: right;
    text-align: right;
    direction: rtl;
}

ul.page-list-toolbar li.disabled {
    color: #aaa;
    cursor: default;
}
