#page-list {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

/* all cells */

#page-list td {
    border: 1px solid #ccc;
    padding: 8px;
}

/* head cells */

#page-list thead th {
    background-color: #cbcbcb;
}

/* body cells */

#page-list tbody tr {
    background-color: #eee;
}

#page-list tobdy tr:nth-child(even) {
    background-color: #ddd;
}

#page-list tbody td.checkbox {
    width: 20px;
    text-align: center;
}