#page-list {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

#page-list td {
    border: 1px solid #ccc;
    padding: 8px;
}

#page-list td.checkbox {
    width: 30px;
    text-align: center;
}

#page-list tr {
    background-color: #eee;
}

#page-list tr:nth-child(even) {
    background-color: #ddd;
}